/* Arcade Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  height: 100vh;
  background: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 80px;
  margin: 0 0 40px 0;
}

p {
  font-size: 18px;
  margin: 0 0 30px 0;
}

button {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
}

